<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>{{ page.title }}</title>
  <meta charset="utf-8">
 <link rel="icon" href="{{ site.url }}/img/favicon.png" type="image/x-icon">
 <link rel="shortcut icon" href="{{ site.url }}/img/favicon.png" type="image/x-icon" />
  <meta name="description" content="小傅的个人博客">
  <meta name="keywords" content="fuzhentao, xiaof, bootstrap, responsive, 付镇涛 ，小傅">
  <meta name="author" content="小傅 , fuzhentao ,xiaof , 付镇涛">

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">


<!-- Main Style -->
<link href="{{ site.url }}/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="{{ site.url }}/css/supersized.css" rel="stylesheet">
<link href="{{ site.url }}/css/supersized.shutter.css" rel="stylesheet">

<!-- Font Icons -->
<link href="{{ site.url }}/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="{{ site.url }}/css/shortcodes.css" rel="stylesheet">



<!-- Responsive -->
<link href="{{ site.url }}/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ site.url }}/css/responsive.css" rel="stylesheet">
<link href="{{ site.url }}/css/pygments.css" rel="stylesheet">


<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">
<script src="{{ site.url }}/js/modernizr.js"></script>
</head>